body {
    color: #333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333;
    background-color: #eeeeee;
    font-family: sans-serif;
    margin: 1em auto;
    max-width: 45em;
    padding: 1em 0;
}
