body {
    margin: 0 auto;
    width: 929px;
    font-family: sans-serif;
    color: #ddd;
    background-color: #222;
}

h1, h2 {
    text-align: center;
    margin: 1em;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

img {
    margin: 3em 0;
}
