#chart {
    max-width: 100%;
    overflow:auto;
}
text {
    pointer-events: none;
}
.grandparent text {
    font-weight: bold;
}
rect {
    stroke: #fff;
    stroke-width: 1px;
}
rect.parent,
.grandparent rect {
    stroke-width: 3px;
}
.stacked rect {
    stroke-width: 3px;
}
.grandparent:hover rect {
    fill: grey;
}
.children rect.parent,
.grandparent rect {
    cursor: pointer;
}
.children rect.child {
    opacity: 0;
}
.children:hover rect.child {
    opacity: 1;
    stroke-width: 1px;
}
.children:hover rect.parent {
    opacity: 0;
}
.legend {
    margin-bottom:8px !important;
}
.legend rect {
    stroke-width: 0px;
}
.legend text {
    text-anchor: middle;
    pointer-events: auto;
    font-size: 13px;
    font-family: sans-serif;
    fill: black;
}
.form-group {
    text-align:left;
}
.textdiv {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    overflow:none;
}
.textdiv .title {
    font-size: 102%;
    font-weight: bold;
    margin-top: 8px;
    font-size:11px !important;
}
.textdiv p {
    line-height: 13px;
    margin:0 0 4px !important;
    padding:0px;
    font-size:10px !important;
}
.textdiv div {
    visibility: hidden;
    position: relative;
    display: inline-block!important;
    background-color: black;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    padding: 5px;
}
